@model IEnumerable<ToDo>

<a href="~/Home/Edit" class="btn btn-primary float-end">Add</a>

@foreach (var t in Model)
{
    <h3>@t.Name</h3>
    <p>@t.Text</p>
    <p><i>@t.Date</i></p>
    <form asp-action="Delete" method="post">
        <a asp-action="Edit" class="btn btn-sm btn-warning" asp-route-articleId="@t.Id">
            Edit
        </a>
        <input type="hidden" asp-action="Id" value="@t.Id" />
        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
    </form>
    <hr />
}